<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_medical_logo"
        android:label="@string/app_name"
        android:name=".MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medivault"
        tools:targetApi="31">

        <!-- FileProvider for opening internal files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Splash screen as launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Medivault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".HomeActivity" android:exported="true" />
        <activity android:name=".SignupActivity" android:exported="true"/>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".UploadReportActivity" />
        <activity android:name=".MyReportsActivity" />
        <activity android:name=".EmergencyActivity" />
        <activity android:name=".ViewReportActivity" />
        <activity android:name=".AiChatActivity" />
        <activity android:name=".DoctorHomeActivity" />
        <activity android:name=".DoctorInboxActivity"
            android:exported="false" />


    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
